.produtos {
  text-decoration: none;
  padding-top: 20px;
  flex-shrink: 0;

  .cash {
    border: 10px;
    border-radius: 5px;
    border-top: solid $rosa 50px;
    position: relative;
    min-width: 100px;
  }

  .produtos-container {
    padding: 10px;
    background-color: $branco;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);


    img {
      width: 200px;
      padding-bottom: 30px;
    }

    h3 {
      color: $branco;
      position: absolute;
      top: -40px;

      svg {
        fill: $branco;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    .produtos-itens {
      p {
        color: $cor-secundaria;
      }

      .produtos-preco-cash {
        color: black;
        font-size: 25px;

      }

      .produtos-preco {
        color: $cor-secundaria;
        font-size: 20px;

      }

      .produtos-stars {
        svg {
          margin-bottom: 10px;
          fill: $amarelo;
        }
      }
    }
  }
}